/* button {

    background-color: chocolate ;
    color: white;
    padding: 12px 25px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

} */

body{
    background-color: grey;
}

button{
    width: 250px;
    height: 200px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 26px;
    font-size: 2em;
    margin: 30px;
    transition: 0.2s;
}
button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: 150ms;
}
