body{
    background-color: crimson;
}


.c1{
    border: 3px solid black;
    background-color: black;
    color: white;
}
.c2{
    border: 3px solid white;
    background-color: white;
}

button {

    background-color: black ;
    color: white;
    padding: 12px 25px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
button:hover{
    background-color: white;
    color: black;
}