body{
    background-color: crimson;
}


.c1{
    border: 3px solid black;
    background-color: black;
    color: white;
}
.c2{
    border: 3px solid white;
    background-color: white;
}
input[type="submit"]{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);}
    

input[type="submit"]:hover{
    background-color: white;
    color: black;
}
.button{
     background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);}
